<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mydao.split.dao.DataTransactionMapper">
  <resultMap id="BaseResultMap" type="com.mydao.split.entity.DataTransaction">
    <result column="NETNO" jdbcType="CHAR" property="netno" />
    <result column="SITENO" jdbcType="CHAR" property="siteno" />
    <result column="LANENO" jdbcType="CHAR" property="laneno" />
    <result column="LANETYPE" jdbcType="CHAR" property="lanetype" />
    <result column="LANEMODE" jdbcType="CHAR" property="lanemode" />
    <result column="CETC" jdbcType="CHAR" property="cetc" />
    <result column="JOBNO" jdbcType="CHAR" property="jobno" />
    <result column="JOBBEGIN" jdbcType="TIMESTAMP" property="jobbegin" />
    <result column="SQUADNO" jdbcType="CHAR" property="squadno" />
    <result column="STAFFNO" jdbcType="CHAR" property="staffno" />
    <result column="STAFFNAME" jdbcType="CHAR" property="staffname" />
    <result column="TRANSACTIONDATE" jdbcType="TIMESTAMP" property="transactiondate" />
    <result column="TRANSACTIONNO" jdbcType="CHAR" property="transactionno" />
    <result column="INDXNO" jdbcType="CHAR" property="indxno" />
    <result column="OBSTCSC" jdbcType="CHAR" property="obstcsc" />
    <result column="OBSMOP" jdbcType="CHAR" property="obsmop" />
    <result column="OBSSEQUENCE" jdbcType="CHAR" property="obssequence" />
    <result column="OBSPASSAGE" jdbcType="CHAR" property="obspassage" />
    <result column="CLASSNO" jdbcType="CHAR" property="classno" />
    <result column="FARENETNO" jdbcType="CHAR" property="farenetno" />
    <result column="FARESITENO" jdbcType="CHAR" property="faresiteno" />
    <result column="ENTRYNETNO" jdbcType="CHAR" property="entrynetno" />
    <result column="ENTRYSITENO" jdbcType="CHAR" property="entrysiteno" />
    <result column="ENTRYLANETYPE" jdbcType="CHAR" property="entrylanetype" />
    <result column="ENTRYLANENO" jdbcType="CHAR" property="entrylaneno" />
    <result column="ENTRYSTAFFNO" jdbcType="CHAR" property="entrystaffno" />
    <result column="ENTRYCLASSNO" jdbcType="CHAR" property="entryclassno" />
    <result column="ENTRYVEHICLEPLATE" jdbcType="CHAR" property="entryvehicleplate" />
    <result column="ENTRYDATE" jdbcType="TIMESTAMP" property="entrydate" />
    <result column="ENTRYJOBNO" jdbcType="CHAR" property="entryjobno" />
    <result column="ENTRYMOPNO" jdbcType="CHAR" property="entrymopno" />
    <result column="MOPNO" jdbcType="CHAR" property="mopno" />
    <result column="TICKETNO" jdbcType="CHAR" property="ticketno" />
    <result column="FARETBLVERSION" jdbcType="CHAR" property="faretblversion" />
    <result column="PRIXTOTAL" jdbcType="DECIMAL" property="prixtotal" />
    <result column="PRIXPARTIAL" jdbcType="DECIMAL" property="prixpartial" />
    <result column="MOPDETAIL" jdbcType="CHAR" property="mopdetail" />
    <result column="CODEOCTAL" jdbcType="CHAR" property="codeoctal" />
    <result column="TCSCNO" jdbcType="CHAR" property="tcscno" />
    <result column="TCSCVERSION" jdbcType="CHAR" property="tcscversion" />
    <result column="CARTRIDGENO" jdbcType="CHAR" property="cartridgeno" />
    <result column="TCSCORDERNO" jdbcType="CHAR" property="tcscorderno" />
    <result column="CARTRIDGECYCLENO" jdbcType="CHAR" property="cartridgecycleno" />
    <result column="PAYCSCNO" jdbcType="CHAR" property="paycscno" />
    <result column="EXITVEHICLEPLATE" jdbcType="CHAR" property="exitvehicleplate" />
    <result column="PARVEHICLEPLATE" jdbcType="VARCHAR" property="parvehicleplate" />
    <result column="PROCESSTYPE" jdbcType="CHAR" property="processtype" />
    <result column="COVERWEIGHT" jdbcType="CHAR" property="coverweight" />
    <result column="INVOICETYPE" jdbcType="CHAR" property="invoicetype" />
    <result column="EQUIPSTATUS" jdbcType="CHAR" property="equipstatus" />
    <result column="CFLAG" jdbcType="CHAR" property="cflag" />
    <result column="FARECLASSNO" jdbcType="CHAR" property="fareclassno" />
    <result column="SHIFTNO" jdbcType="CHAR" property="shiftno" />
    <result column="IMAGEFILE" jdbcType="CHAR" property="imagefile" />
    <result column="ROUTENO" jdbcType="CHAR" property="routeno" />
    <result column="FAREAXLES" jdbcType="DECIMAL" property="fareaxles" />
    <result column="DETECTWEIGHT" jdbcType="DECIMAL" property="detectweight" />
    <result column="OVERWEIGHT" jdbcType="DECIMAL" property="overweight" />
    <result column="OVERWEIGHTTYPE" jdbcType="CHAR" property="overweighttype" />
    <result column="ENTRYAXLES" jdbcType="VARCHAR" property="entryaxles" />
    <result column="ENTRYWEIGHT" jdbcType="DECIMAL" property="entryweight" />
    <result column="ENTRYOVERWEIGHT" jdbcType="DECIMAL" property="entryoverweight" />
    <result column="ENTRYOVERWEIGHTTYPE" jdbcType="CHAR" property="entryoverweighttype" />
    <result column="ENTRYPARVEHICLEPLATE" jdbcType="VARCHAR" property="entryparvehicleplate" />
    <result column="PICTURECOMMENT" jdbcType="VARCHAR" property="picturecomment" />
    <result column="PICTURECOMMENT2" jdbcType="VARCHAR" property="picturecomment2" />
    <result column="WEIGHTMODE" jdbcType="CHAR" property="weightmode" />
    <result column="PARVEHICLEPLATECOLOR" jdbcType="CHAR" property="parvehicleplatecolor" />
    <result column="DISTANCE" jdbcType="DECIMAL" property="distance" />
    <result column="COMPUTERATE" jdbcType="DECIMAL" property="computerate" />
    <result column="FAREWEIGHT" jdbcType="DECIMAL" property="fareweight" />
    <result column="OVERWEIGHTFARE" jdbcType="DECIMAL" property="overweightfare" />
    <result column="AXLEGROUPS" jdbcType="DECIMAL" property="axlegroups" />
    <result column="AXLEGROUP1TYPE" jdbcType="CHAR" property="axlegroup1type" />
    <result column="AXLEGROUP1WEIGHT" jdbcType="DECIMAL" property="axlegroup1weight" />
    <result column="AXLEGROUP2TYPE" jdbcType="CHAR" property="axlegroup2type" />
    <result column="AXLEGROUP2WEIGHT" jdbcType="DECIMAL" property="axlegroup2weight" />
    <result column="AXLEGROUP3TYPE" jdbcType="CHAR" property="axlegroup3type" />
    <result column="AXLEGROUP3WEIGHT" jdbcType="DECIMAL" property="axlegroup3weight" />
    <result column="AXLEGROUP4TYPE" jdbcType="CHAR" property="axlegroup4type" />
    <result column="AXLEGROUP4WEIGHT" jdbcType="DECIMAL" property="axlegroup4weight" />
    <result column="AXLEGROUP5TYPE" jdbcType="CHAR" property="axlegroup5type" />
    <result column="AXLEGROUP5WEIGHT" jdbcType="DECIMAL" property="axlegroup5weight" />
    <result column="AXLEGROUP6TYPE" jdbcType="CHAR" property="axlegroup6type" />
    <result column="AXLEGROUP6WEIGHT" jdbcType="DECIMAL" property="axlegroup6weight" />
    <result column="AXLEGROUP7TYPE" jdbcType="CHAR" property="axlegroup7type" />
    <result column="AXLEGROUP7WEIGHT" jdbcType="DECIMAL" property="axlegroup7weight" />
    <result column="AXLEGROUP8TYPE" jdbcType="CHAR" property="axlegroup8type" />
    <result column="AXLEGROUP8WEIGHT" jdbcType="DECIMAL" property="axlegroup8weight" />
    <result column="AXLEGROUP9TYPE" jdbcType="CHAR" property="axlegroup9type" />
    <result column="AXLEGROUP9WEIGHT" jdbcType="DECIMAL" property="axlegroup9weight" />
    <result column="SPEED" jdbcType="DECIMAL" property="speed" />
    <result column="ACCELERATION" jdbcType="DECIMAL" property="acceleration" />
    <result column="FAREAXLEGROUP1TYPE" jdbcType="CHAR" property="fareaxlegroup1type" />
    <result column="FAREAXLEGROUP2TYPE" jdbcType="CHAR" property="fareaxlegroup2type" />
    <result column="FAREAXLEGROUP3TYPE" jdbcType="CHAR" property="fareaxlegroup3type" />
    <result column="FAREAXLEGROUP4TYPE" jdbcType="CHAR" property="fareaxlegroup4type" />
    <result column="FAREAXLEGROUP5TYPE" jdbcType="CHAR" property="fareaxlegroup5type" />
    <result column="FAREAXLEGROUP6TYPE" jdbcType="CHAR" property="fareaxlegroup6type" />
    <result column="FAREAXLEGROUP7TYPE" jdbcType="CHAR" property="fareaxlegroup7type" />
    <result column="FAREAXLEGROUP8TYPE" jdbcType="CHAR" property="fareaxlegroup8type" />
    <result column="FAREAXLEGROUP9TYPE" jdbcType="CHAR" property="fareaxlegroup9type" />
    <result column="WEIGHTDDHM" jdbcType="TIMESTAMP" property="weightddhm" />
    <result column="ENTRYAXLEGROUPS" jdbcType="DECIMAL" property="entryaxlegroups" />
    <result column="ENTRYAXLEGROUP1TYPE" jdbcType="CHAR" property="entryaxlegroup1type" />
    <result column="ENTRYAXLEGROUP2TYPE" jdbcType="CHAR" property="entryaxlegroup2type" />
    <result column="ENTRYAXLEGROUP3TYPE" jdbcType="CHAR" property="entryaxlegroup3type" />
    <result column="ENTRYAXLEGROUP4TYPE" jdbcType="CHAR" property="entryaxlegroup4type" />
    <result column="ENTRYAXLEGROUP5TYPE" jdbcType="CHAR" property="entryaxlegroup5type" />
    <result column="ENTRYAXLEGROUP6TYPE" jdbcType="CHAR" property="entryaxlegroup6type" />
    <result column="ENTRYAXLEGROUP7TYPE" jdbcType="CHAR" property="entryaxlegroup7type" />
    <result column="ENTRYAXLEGROUP8TYPE" jdbcType="CHAR" property="entryaxlegroup8type" />
    <result column="ENTRYAXLEGROUP9TYPE" jdbcType="CHAR" property="entryaxlegroup9type" />
    <result column="PICTURECOMMENTTYPE" jdbcType="CHAR" property="picturecommenttype" />
    <result column="DETECTAXLES" jdbcType="DECIMAL" property="detectaxles" />
    <result column="ISOVERLOAD" jdbcType="CHAR" property="isoverload" />
    <result column="ISSPECIALTRUNK" jdbcType="CHAR" property="isspecialtrunk" />
    <result column="LIMITWEIGHT" jdbcType="DECIMAL" property="limitweight" />
    <result column="FAREAXLEGROUP1WEIGHT" jdbcType="DECIMAL" property="fareaxlegroup1weight" />
    <result column="FAREAXLEGROUP2WEIGHT" jdbcType="DECIMAL" property="fareaxlegroup2weight" />
    <result column="FAREAXLEGROUP3WEIGHT" jdbcType="DECIMAL" property="fareaxlegroup3weight" />
    <result column="FAREAXLEGROUP4WEIGHT" jdbcType="DECIMAL" property="fareaxlegroup4weight" />
    <result column="FAREAXLEGROUP5WEIGHT" jdbcType="DECIMAL" property="fareaxlegroup5weight" />
    <result column="FAREAXLEGROUP6WEIGHT" jdbcType="DECIMAL" property="fareaxlegroup6weight" />
    <result column="FAREAXLEGROUP7WEIGHT" jdbcType="DECIMAL" property="fareaxlegroup7weight" />
    <result column="FAREAXLEGROUP8WEIGHT" jdbcType="DECIMAL" property="fareaxlegroup8weight" />
    <result column="FAREAXLEGROUP9WEIGHT" jdbcType="DECIMAL" property="fareaxlegroup9weight" />
    <result column="ENTRYAXLEGROUP1WEIGHT" jdbcType="DECIMAL" property="entryaxlegroup1weight" />
    <result column="ENTRYAXLEGROUP2WEIGHT" jdbcType="DECIMAL" property="entryaxlegroup2weight" />
    <result column="ENTRYAXLEGROUP3WEIGHT" jdbcType="DECIMAL" property="entryaxlegroup3weight" />
    <result column="ENTRYAXLEGROUP4WEIGHT" jdbcType="DECIMAL" property="entryaxlegroup4weight" />
    <result column="ENTRYAXLEGROUP5WEIGHT" jdbcType="DECIMAL" property="entryaxlegroup5weight" />
    <result column="ENTRYAXLEGROUP6WEIGHT" jdbcType="DECIMAL" property="entryaxlegroup6weight" />
    <result column="ENTRYAXLEGROUP7WEIGHT" jdbcType="DECIMAL" property="entryaxlegroup7weight" />
    <result column="ENTRYAXLEGROUP8WEIGHT" jdbcType="DECIMAL" property="entryaxlegroup8weight" />
    <result column="ENTRYAXLEGROUP9WEIGHT" jdbcType="DECIMAL" property="entryaxlegroup9weight" />
    <result column="FAREAXLEGROUPS" jdbcType="DECIMAL" property="fareaxlegroups" />
    <result column="DISCOUNTFARE" jdbcType="DECIMAL" property="discountfare" />
    <result column="CPUCARDNETWORK" jdbcType="CHAR" property="cpucardnetwork" />
    <result column="CPUCARDNO" jdbcType="CHAR" property="cpucardno" />
    <result column="CPUCARDTYPE" jdbcType="CHAR" property="cpucardtype" />
    <result column="FLAGSTANUM" jdbcType="DECIMAL" property="flagstanum" />
    <result column="FLAGSTA" jdbcType="VARCHAR" property="flagsta" />
    <result column="BY_FIELD1" jdbcType="DECIMAL" property="byField1" />
  </resultMap>
  <insert id="insertSelective" parameterType="com.mydao.split.entity.DataTransaction">
    insert into DATA_TRANSACTION
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="netno != null">
        NETNO,
      </if>
      <if test="siteno != null">
        SITENO,
      </if>
      <if test="laneno != null">
        LANENO,
      </if>
      <if test="lanetype != null">
        LANETYPE,
      </if>
      <if test="lanemode != null">
        LANEMODE,
      </if>
      <if test="cetc != null">
        CETC,
      </if>
      <if test="jobno != null">
        JOBNO,
      </if>
      <if test="jobbegin != null">
        JOBBEGIN,
      </if>
      <if test="squadno != null">
        SQUADNO,
      </if>
      <if test="staffno != null">
        STAFFNO,
      </if>
      <if test="staffname != null">
        STAFFNAME,
      </if>
      <if test="transactiondate != null">
        TRANSACTIONDATE,
      </if>
      <if test="transactionno != null">
        TRANSACTIONNO,
      </if>
      <if test="indxno != null">
        INDXNO,
      </if>
      <if test="obstcsc != null">
        OBSTCSC,
      </if>
      <if test="obsmop != null">
        OBSMOP,
      </if>
      <if test="obssequence != null">
        OBSSEQUENCE,
      </if>
      <if test="obspassage != null">
        OBSPASSAGE,
      </if>
      <if test="classno != null">
        CLASSNO,
      </if>
      <if test="farenetno != null">
        FARENETNO,
      </if>
      <if test="faresiteno != null">
        FARESITENO,
      </if>
      <if test="entrynetno != null">
        ENTRYNETNO,
      </if>
      <if test="entrysiteno != null">
        ENTRYSITENO,
      </if>
      <if test="entrylanetype != null">
        ENTRYLANETYPE,
      </if>
      <if test="entrylaneno != null">
        ENTRYLANENO,
      </if>
      <if test="entrystaffno != null">
        ENTRYSTAFFNO,
      </if>
      <if test="entryclassno != null">
        ENTRYCLASSNO,
      </if>
      <if test="entryvehicleplate != null">
        ENTRYVEHICLEPLATE,
      </if>
      <if test="entrydate != null">
        ENTRYDATE,
      </if>
      <if test="entryjobno != null">
        ENTRYJOBNO,
      </if>
      <if test="entrymopno != null">
        ENTRYMOPNO,
      </if>
      <if test="mopno != null">
        MOPNO,
      </if>
      <if test="ticketno != null">
        TICKETNO,
      </if>
      <if test="faretblversion != null">
        FARETBLVERSION,
      </if>
      <if test="prixtotal != null">
        PRIXTOTAL,
      </if>
      <if test="prixpartial != null">
        PRIXPARTIAL,
      </if>
      <if test="mopdetail != null">
        MOPDETAIL,
      </if>
      <if test="codeoctal != null">
        CODEOCTAL,
      </if>
      <if test="tcscno != null">
        TCSCNO,
      </if>
      <if test="tcscversion != null">
        TCSCVERSION,
      </if>
      <if test="cartridgeno != null">
        CARTRIDGENO,
      </if>
      <if test="tcscorderno != null">
        TCSCORDERNO,
      </if>
      <if test="cartridgecycleno != null">
        CARTRIDGECYCLENO,
      </if>
      <if test="paycscno != null">
        PAYCSCNO,
      </if>
      <if test="exitvehicleplate != null">
        EXITVEHICLEPLATE,
      </if>
      <if test="parvehicleplate != null">
        PARVEHICLEPLATE,
      </if>
      <if test="processtype != null">
        PROCESSTYPE,
      </if>
      <if test="coverweight != null">
        COVERWEIGHT,
      </if>
      <if test="invoicetype != null">
        INVOICETYPE,
      </if>
      <if test="equipstatus != null">
        EQUIPSTATUS,
      </if>
      <if test="cflag != null">
        CFLAG,
      </if>
      <if test="fareclassno != null">
        FARECLASSNO,
      </if>
      <if test="shiftno != null">
        SHIFTNO,
      </if>
      <if test="imagefile != null">
        IMAGEFILE,
      </if>
      <if test="routeno != null">
        ROUTENO,
      </if>
      <if test="fareaxles != null">
        FAREAXLES,
      </if>
      <if test="detectweight != null">
        DETECTWEIGHT,
      </if>
      <if test="overweight != null">
        OVERWEIGHT,
      </if>
      <if test="overweighttype != null">
        OVERWEIGHTTYPE,
      </if>
      <if test="entryaxles != null">
        ENTRYAXLES,
      </if>
      <if test="entryweight != null">
        ENTRYWEIGHT,
      </if>
      <if test="entryoverweight != null">
        ENTRYOVERWEIGHT,
      </if>
      <if test="entryoverweighttype != null">
        ENTRYOVERWEIGHTTYPE,
      </if>
      <if test="entryparvehicleplate != null">
        ENTRYPARVEHICLEPLATE,
      </if>
      <if test="picturecomment != null">
        PICTURECOMMENT,
      </if>
      <if test="picturecomment2 != null">
        PICTURECOMMENT2,
      </if>
      <if test="weightmode != null">
        WEIGHTMODE,
      </if>
      <if test="parvehicleplatecolor != null">
        PARVEHICLEPLATECOLOR,
      </if>
      <if test="distance != null">
        DISTANCE,
      </if>
      <if test="computerate != null">
        COMPUTERATE,
      </if>
      <if test="fareweight != null">
        FAREWEIGHT,
      </if>
      <if test="overweightfare != null">
        OVERWEIGHTFARE,
      </if>
      <if test="axlegroups != null">
        AXLEGROUPS,
      </if>
      <if test="axlegroup1type != null">
        AXLEGROUP1TYPE,
      </if>
      <if test="axlegroup1weight != null">
        AXLEGROUP1WEIGHT,
      </if>
      <if test="axlegroup2type != null">
        AXLEGROUP2TYPE,
      </if>
      <if test="axlegroup2weight != null">
        AXLEGROUP2WEIGHT,
      </if>
      <if test="axlegroup3type != null">
        AXLEGROUP3TYPE,
      </if>
      <if test="axlegroup3weight != null">
        AXLEGROUP3WEIGHT,
      </if>
      <if test="axlegroup4type != null">
        AXLEGROUP4TYPE,
      </if>
      <if test="axlegroup4weight != null">
        AXLEGROUP4WEIGHT,
      </if>
      <if test="axlegroup5type != null">
        AXLEGROUP5TYPE,
      </if>
      <if test="axlegroup5weight != null">
        AXLEGROUP5WEIGHT,
      </if>
      <if test="axlegroup6type != null">
        AXLEGROUP6TYPE,
      </if>
      <if test="axlegroup6weight != null">
        AXLEGROUP6WEIGHT,
      </if>
      <if test="axlegroup7type != null">
        AXLEGROUP7TYPE,
      </if>
      <if test="axlegroup7weight != null">
        AXLEGROUP7WEIGHT,
      </if>
      <if test="axlegroup8type != null">
        AXLEGROUP8TYPE,
      </if>
      <if test="axlegroup8weight != null">
        AXLEGROUP8WEIGHT,
      </if>
      <if test="axlegroup9type != null">
        AXLEGROUP9TYPE,
      </if>
      <if test="axlegroup9weight != null">
        AXLEGROUP9WEIGHT,
      </if>
      <if test="speed != null">
        SPEED,
      </if>
      <if test="acceleration != null">
        ACCELERATION,
      </if>
      <if test="fareaxlegroup1type != null">
        FAREAXLEGROUP1TYPE,
      </if>
      <if test="fareaxlegroup2type != null">
        FAREAXLEGROUP2TYPE,
      </if>
      <if test="fareaxlegroup3type != null">
        FAREAXLEGROUP3TYPE,
      </if>
      <if test="fareaxlegroup4type != null">
        FAREAXLEGROUP4TYPE,
      </if>
      <if test="fareaxlegroup5type != null">
        FAREAXLEGROUP5TYPE,
      </if>
      <if test="fareaxlegroup6type != null">
        FAREAXLEGROUP6TYPE,
      </if>
      <if test="fareaxlegroup7type != null">
        FAREAXLEGROUP7TYPE,
      </if>
      <if test="fareaxlegroup8type != null">
        FAREAXLEGROUP8TYPE,
      </if>
      <if test="fareaxlegroup9type != null">
        FAREAXLEGROUP9TYPE,
      </if>
      <if test="weightddhm != null">
        WEIGHTDDHM,
      </if>
      <if test="entryaxlegroups != null">
        ENTRYAXLEGROUPS,
      </if>
      <if test="entryaxlegroup1type != null">
        ENTRYAXLEGROUP1TYPE,
      </if>
      <if test="entryaxlegroup2type != null">
        ENTRYAXLEGROUP2TYPE,
      </if>
      <if test="entryaxlegroup3type != null">
        ENTRYAXLEGROUP3TYPE,
      </if>
      <if test="entryaxlegroup4type != null">
        ENTRYAXLEGROUP4TYPE,
      </if>
      <if test="entryaxlegroup5type != null">
        ENTRYAXLEGROUP5TYPE,
      </if>
      <if test="entryaxlegroup6type != null">
        ENTRYAXLEGROUP6TYPE,
      </if>
      <if test="entryaxlegroup7type != null">
        ENTRYAXLEGROUP7TYPE,
      </if>
      <if test="entryaxlegroup8type != null">
        ENTRYAXLEGROUP8TYPE,
      </if>
      <if test="entryaxlegroup9type != null">
        ENTRYAXLEGROUP9TYPE,
      </if>
      <if test="picturecommenttype != null">
        PICTURECOMMENTTYPE,
      </if>
      <if test="detectaxles != null">
        DETECTAXLES,
      </if>
      <if test="isoverload != null">
        ISOVERLOAD,
      </if>
      <if test="isspecialtrunk != null">
        ISSPECIALTRUNK,
      </if>
      <if test="limitweight != null">
        LIMITWEIGHT,
      </if>
      <if test="fareaxlegroup1weight != null">
        FAREAXLEGROUP1WEIGHT,
      </if>
      <if test="fareaxlegroup2weight != null">
        FAREAXLEGROUP2WEIGHT,
      </if>
      <if test="fareaxlegroup3weight != null">
        FAREAXLEGROUP3WEIGHT,
      </if>
      <if test="fareaxlegroup4weight != null">
        FAREAXLEGROUP4WEIGHT,
      </if>
      <if test="fareaxlegroup5weight != null">
        FAREAXLEGROUP5WEIGHT,
      </if>
      <if test="fareaxlegroup6weight != null">
        FAREAXLEGROUP6WEIGHT,
      </if>
      <if test="fareaxlegroup7weight != null">
        FAREAXLEGROUP7WEIGHT,
      </if>
      <if test="fareaxlegroup8weight != null">
        FAREAXLEGROUP8WEIGHT,
      </if>
      <if test="fareaxlegroup9weight != null">
        FAREAXLEGROUP9WEIGHT,
      </if>
      <if test="entryaxlegroup1weight != null">
        ENTRYAXLEGROUP1WEIGHT,
      </if>
      <if test="entryaxlegroup2weight != null">
        ENTRYAXLEGROUP2WEIGHT,
      </if>
      <if test="entryaxlegroup3weight != null">
        ENTRYAXLEGROUP3WEIGHT,
      </if>
      <if test="entryaxlegroup4weight != null">
        ENTRYAXLEGROUP4WEIGHT,
      </if>
      <if test="entryaxlegroup5weight != null">
        ENTRYAXLEGROUP5WEIGHT,
      </if>
      <if test="entryaxlegroup6weight != null">
        ENTRYAXLEGROUP6WEIGHT,
      </if>
      <if test="entryaxlegroup7weight != null">
        ENTRYAXLEGROUP7WEIGHT,
      </if>
      <if test="entryaxlegroup8weight != null">
        ENTRYAXLEGROUP8WEIGHT,
      </if>
      <if test="entryaxlegroup9weight != null">
        ENTRYAXLEGROUP9WEIGHT,
      </if>
      <if test="fareaxlegroups != null">
        FAREAXLEGROUPS,
      </if>
      <if test="discountfare != null">
        DISCOUNTFARE,
      </if>
      <if test="cpucardnetwork != null">
        CPUCARDNETWORK,
      </if>
      <if test="cpucardno != null">
        CPUCARDNO,
      </if>
      <if test="cpucardtype != null">
        CPUCARDTYPE,
      </if>
      <if test="flagstanum != null">
        FLAGSTANUM,
      </if>
      <if test="flagsta != null">
        FLAGSTA,
      </if>
      <if test="byField1 != null">
        BY_FIELD1,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="netno != null">
        #{netno,jdbcType=CHAR},
      </if>
      <if test="siteno != null">
        #{siteno,jdbcType=CHAR},
      </if>
      <if test="laneno != null">
        #{laneno,jdbcType=CHAR},
      </if>
      <if test="lanetype != null">
        #{lanetype,jdbcType=CHAR},
      </if>
      <if test="lanemode != null">
        #{lanemode,jdbcType=CHAR},
      </if>
      <if test="cetc != null">
        #{cetc,jdbcType=CHAR},
      </if>
      <if test="jobno != null">
        #{jobno,jdbcType=CHAR},
      </if>
      <if test="jobbegin != null">
        #{jobbegin,jdbcType=TIMESTAMP},
      </if>
      <if test="squadno != null">
        #{squadno,jdbcType=CHAR},
      </if>
      <if test="staffno != null">
        #{staffno,jdbcType=CHAR},
      </if>
      <if test="staffname != null">
        #{staffname,jdbcType=CHAR},
      </if>
      <if test="transactiondate != null">
        #{transactiondate,jdbcType=TIMESTAMP},
      </if>
      <if test="transactionno != null">
        #{transactionno,jdbcType=CHAR},
      </if>
      <if test="indxno != null">
        #{indxno,jdbcType=CHAR},
      </if>
      <if test="obstcsc != null">
        #{obstcsc,jdbcType=CHAR},
      </if>
      <if test="obsmop != null">
        #{obsmop,jdbcType=CHAR},
      </if>
      <if test="obssequence != null">
        #{obssequence,jdbcType=CHAR},
      </if>
      <if test="obspassage != null">
        #{obspassage,jdbcType=CHAR},
      </if>
      <if test="classno != null">
        #{classno,jdbcType=CHAR},
      </if>
      <if test="farenetno != null">
        #{farenetno,jdbcType=CHAR},
      </if>
      <if test="faresiteno != null">
        #{faresiteno,jdbcType=CHAR},
      </if>
      <if test="entrynetno != null">
        #{entrynetno,jdbcType=CHAR},
      </if>
      <if test="entrysiteno != null">
        #{entrysiteno,jdbcType=CHAR},
      </if>
      <if test="entrylanetype != null">
        #{entrylanetype,jdbcType=CHAR},
      </if>
      <if test="entrylaneno != null">
        #{entrylaneno,jdbcType=CHAR},
      </if>
      <if test="entrystaffno != null">
        #{entrystaffno,jdbcType=CHAR},
      </if>
      <if test="entryclassno != null">
        #{entryclassno,jdbcType=CHAR},
      </if>
      <if test="entryvehicleplate != null">
        #{entryvehicleplate,jdbcType=CHAR},
      </if>
      <if test="entrydate != null">
        #{entrydate,jdbcType=TIMESTAMP},
      </if>
      <if test="entryjobno != null">
        #{entryjobno,jdbcType=CHAR},
      </if>
      <if test="entrymopno != null">
        #{entrymopno,jdbcType=CHAR},
      </if>
      <if test="mopno != null">
        #{mopno,jdbcType=CHAR},
      </if>
      <if test="ticketno != null">
        #{ticketno,jdbcType=CHAR},
      </if>
      <if test="faretblversion != null">
        #{faretblversion,jdbcType=CHAR},
      </if>
      <if test="prixtotal != null">
        #{prixtotal,jdbcType=DECIMAL},
      </if>
      <if test="prixpartial != null">
        #{prixpartial,jdbcType=DECIMAL},
      </if>
      <if test="mopdetail != null">
        #{mopdetail,jdbcType=CHAR},
      </if>
      <if test="codeoctal != null">
        #{codeoctal,jdbcType=CHAR},
      </if>
      <if test="tcscno != null">
        #{tcscno,jdbcType=CHAR},
      </if>
      <if test="tcscversion != null">
        #{tcscversion,jdbcType=CHAR},
      </if>
      <if test="cartridgeno != null">
        #{cartridgeno,jdbcType=CHAR},
      </if>
      <if test="tcscorderno != null">
        #{tcscorderno,jdbcType=CHAR},
      </if>
      <if test="cartridgecycleno != null">
        #{cartridgecycleno,jdbcType=CHAR},
      </if>
      <if test="paycscno != null">
        #{paycscno,jdbcType=CHAR},
      </if>
      <if test="exitvehicleplate != null">
        #{exitvehicleplate,jdbcType=CHAR},
      </if>
      <if test="parvehicleplate != null">
        #{parvehicleplate,jdbcType=VARCHAR},
      </if>
      <if test="processtype != null">
        #{processtype,jdbcType=CHAR},
      </if>
      <if test="coverweight != null">
        #{coverweight,jdbcType=CHAR},
      </if>
      <if test="invoicetype != null">
        #{invoicetype,jdbcType=CHAR},
      </if>
      <if test="equipstatus != null">
        #{equipstatus,jdbcType=CHAR},
      </if>
      <if test="cflag != null">
        #{cflag,jdbcType=CHAR},
      </if>
      <if test="fareclassno != null">
        #{fareclassno,jdbcType=CHAR},
      </if>
      <if test="shiftno != null">
        #{shiftno,jdbcType=CHAR},
      </if>
      <if test="imagefile != null">
        #{imagefile,jdbcType=CHAR},
      </if>
      <if test="routeno != null">
        #{routeno,jdbcType=CHAR},
      </if>
      <if test="fareaxles != null">
        #{fareaxles,jdbcType=DECIMAL},
      </if>
      <if test="detectweight != null">
        #{detectweight,jdbcType=DECIMAL},
      </if>
      <if test="overweight != null">
        #{overweight,jdbcType=DECIMAL},
      </if>
      <if test="overweighttype != null">
        #{overweighttype,jdbcType=CHAR},
      </if>
      <if test="entryaxles != null">
        #{entryaxles,jdbcType=VARCHAR},
      </if>
      <if test="entryweight != null">
        #{entryweight,jdbcType=DECIMAL},
      </if>
      <if test="entryoverweight != null">
        #{entryoverweight,jdbcType=DECIMAL},
      </if>
      <if test="entryoverweighttype != null">
        #{entryoverweighttype,jdbcType=CHAR},
      </if>
      <if test="entryparvehicleplate != null">
        #{entryparvehicleplate,jdbcType=VARCHAR},
      </if>
      <if test="picturecomment != null">
        #{picturecomment,jdbcType=VARCHAR},
      </if>
      <if test="picturecomment2 != null">
        #{picturecomment2,jdbcType=VARCHAR},
      </if>
      <if test="weightmode != null">
        #{weightmode,jdbcType=CHAR},
      </if>
      <if test="parvehicleplatecolor != null">
        #{parvehicleplatecolor,jdbcType=CHAR},
      </if>
      <if test="distance != null">
        #{distance,jdbcType=DECIMAL},
      </if>
      <if test="computerate != null">
        #{computerate,jdbcType=DECIMAL},
      </if>
      <if test="fareweight != null">
        #{fareweight,jdbcType=DECIMAL},
      </if>
      <if test="overweightfare != null">
        #{overweightfare,jdbcType=DECIMAL},
      </if>
      <if test="axlegroups != null">
        #{axlegroups,jdbcType=DECIMAL},
      </if>
      <if test="axlegroup1type != null">
        #{axlegroup1type,jdbcType=CHAR},
      </if>
      <if test="axlegroup1weight != null">
        #{axlegroup1weight,jdbcType=DECIMAL},
      </if>
      <if test="axlegroup2type != null">
        #{axlegroup2type,jdbcType=CHAR},
      </if>
      <if test="axlegroup2weight != null">
        #{axlegroup2weight,jdbcType=DECIMAL},
      </if>
      <if test="axlegroup3type != null">
        #{axlegroup3type,jdbcType=CHAR},
      </if>
      <if test="axlegroup3weight != null">
        #{axlegroup3weight,jdbcType=DECIMAL},
      </if>
      <if test="axlegroup4type != null">
        #{axlegroup4type,jdbcType=CHAR},
      </if>
      <if test="axlegroup4weight != null">
        #{axlegroup4weight,jdbcType=DECIMAL},
      </if>
      <if test="axlegroup5type != null">
        #{axlegroup5type,jdbcType=CHAR},
      </if>
      <if test="axlegroup5weight != null">
        #{axlegroup5weight,jdbcType=DECIMAL},
      </if>
      <if test="axlegroup6type != null">
        #{axlegroup6type,jdbcType=CHAR},
      </if>
      <if test="axlegroup6weight != null">
        #{axlegroup6weight,jdbcType=DECIMAL},
      </if>
      <if test="axlegroup7type != null">
        #{axlegroup7type,jdbcType=CHAR},
      </if>
      <if test="axlegroup7weight != null">
        #{axlegroup7weight,jdbcType=DECIMAL},
      </if>
      <if test="axlegroup8type != null">
        #{axlegroup8type,jdbcType=CHAR},
      </if>
      <if test="axlegroup8weight != null">
        #{axlegroup8weight,jdbcType=DECIMAL},
      </if>
      <if test="axlegroup9type != null">
        #{axlegroup9type,jdbcType=CHAR},
      </if>
      <if test="axlegroup9weight != null">
        #{axlegroup9weight,jdbcType=DECIMAL},
      </if>
      <if test="speed != null">
        #{speed,jdbcType=DECIMAL},
      </if>
      <if test="acceleration != null">
        #{acceleration,jdbcType=DECIMAL},
      </if>
      <if test="fareaxlegroup1type != null">
        #{fareaxlegroup1type,jdbcType=CHAR},
      </if>
      <if test="fareaxlegroup2type != null">
        #{fareaxlegroup2type,jdbcType=CHAR},
      </if>
      <if test="fareaxlegroup3type != null">
        #{fareaxlegroup3type,jdbcType=CHAR},
      </if>
      <if test="fareaxlegroup4type != null">
        #{fareaxlegroup4type,jdbcType=CHAR},
      </if>
      <if test="fareaxlegroup5type != null">
        #{fareaxlegroup5type,jdbcType=CHAR},
      </if>
      <if test="fareaxlegroup6type != null">
        #{fareaxlegroup6type,jdbcType=CHAR},
      </if>
      <if test="fareaxlegroup7type != null">
        #{fareaxlegroup7type,jdbcType=CHAR},
      </if>
      <if test="fareaxlegroup8type != null">
        #{fareaxlegroup8type,jdbcType=CHAR},
      </if>
      <if test="fareaxlegroup9type != null">
        #{fareaxlegroup9type,jdbcType=CHAR},
      </if>
      <if test="weightddhm != null">
        #{weightddhm,jdbcType=TIMESTAMP},
      </if>
      <if test="entryaxlegroups != null">
        #{entryaxlegroups,jdbcType=DECIMAL},
      </if>
      <if test="entryaxlegroup1type != null">
        #{entryaxlegroup1type,jdbcType=CHAR},
      </if>
      <if test="entryaxlegroup2type != null">
        #{entryaxlegroup2type,jdbcType=CHAR},
      </if>
      <if test="entryaxlegroup3type != null">
        #{entryaxlegroup3type,jdbcType=CHAR},
      </if>
      <if test="entryaxlegroup4type != null">
        #{entryaxlegroup4type,jdbcType=CHAR},
      </if>
      <if test="entryaxlegroup5type != null">
        #{entryaxlegroup5type,jdbcType=CHAR},
      </if>
      <if test="entryaxlegroup6type != null">
        #{entryaxlegroup6type,jdbcType=CHAR},
      </if>
      <if test="entryaxlegroup7type != null">
        #{entryaxlegroup7type,jdbcType=CHAR},
      </if>
      <if test="entryaxlegroup8type != null">
        #{entryaxlegroup8type,jdbcType=CHAR},
      </if>
      <if test="entryaxlegroup9type != null">
        #{entryaxlegroup9type,jdbcType=CHAR},
      </if>
      <if test="picturecommenttype != null">
        #{picturecommenttype,jdbcType=CHAR},
      </if>
      <if test="detectaxles != null">
        #{detectaxles,jdbcType=DECIMAL},
      </if>
      <if test="isoverload != null">
        #{isoverload,jdbcType=CHAR},
      </if>
      <if test="isspecialtrunk != null">
        #{isspecialtrunk,jdbcType=CHAR},
      </if>
      <if test="limitweight != null">
        #{limitweight,jdbcType=DECIMAL},
      </if>
      <if test="fareaxlegroup1weight != null">
        #{fareaxlegroup1weight,jdbcType=DECIMAL},
      </if>
      <if test="fareaxlegroup2weight != null">
        #{fareaxlegroup2weight,jdbcType=DECIMAL},
      </if>
      <if test="fareaxlegroup3weight != null">
        #{fareaxlegroup3weight,jdbcType=DECIMAL},
      </if>
      <if test="fareaxlegroup4weight != null">
        #{fareaxlegroup4weight,jdbcType=DECIMAL},
      </if>
      <if test="fareaxlegroup5weight != null">
        #{fareaxlegroup5weight,jdbcType=DECIMAL},
      </if>
      <if test="fareaxlegroup6weight != null">
        #{fareaxlegroup6weight,jdbcType=DECIMAL},
      </if>
      <if test="fareaxlegroup7weight != null">
        #{fareaxlegroup7weight,jdbcType=DECIMAL},
      </if>
      <if test="fareaxlegroup8weight != null">
        #{fareaxlegroup8weight,jdbcType=DECIMAL},
      </if>
      <if test="fareaxlegroup9weight != null">
        #{fareaxlegroup9weight,jdbcType=DECIMAL},
      </if>
      <if test="entryaxlegroup1weight != null">
        #{entryaxlegroup1weight,jdbcType=DECIMAL},
      </if>
      <if test="entryaxlegroup2weight != null">
        #{entryaxlegroup2weight,jdbcType=DECIMAL},
      </if>
      <if test="entryaxlegroup3weight != null">
        #{entryaxlegroup3weight,jdbcType=DECIMAL},
      </if>
      <if test="entryaxlegroup4weight != null">
        #{entryaxlegroup4weight,jdbcType=DECIMAL},
      </if>
      <if test="entryaxlegroup5weight != null">
        #{entryaxlegroup5weight,jdbcType=DECIMAL},
      </if>
      <if test="entryaxlegroup6weight != null">
        #{entryaxlegroup6weight,jdbcType=DECIMAL},
      </if>
      <if test="entryaxlegroup7weight != null">
        #{entryaxlegroup7weight,jdbcType=DECIMAL},
      </if>
      <if test="entryaxlegroup8weight != null">
        #{entryaxlegroup8weight,jdbcType=DECIMAL},
      </if>
      <if test="entryaxlegroup9weight != null">
        #{entryaxlegroup9weight,jdbcType=DECIMAL},
      </if>
      <if test="fareaxlegroups != null">
        #{fareaxlegroups,jdbcType=DECIMAL},
      </if>
      <if test="discountfare != null">
        #{discountfare,jdbcType=DECIMAL},
      </if>
      <if test="cpucardnetwork != null">
        #{cpucardnetwork,jdbcType=CHAR},
      </if>
      <if test="cpucardno != null">
        #{cpucardno,jdbcType=CHAR},
      </if>
      <if test="cpucardtype != null">
        #{cpucardtype,jdbcType=CHAR},
      </if>
      <if test="flagstanum != null">
        #{flagstanum,jdbcType=DECIMAL},
      </if>
      <if test="flagsta != null">
        #{flagsta,jdbcType=VARCHAR},
      </if>
      <if test="byField1 != null">
        #{byField1,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>

  <select id="selectTotalTriffic" parameterType="java.util.Map" resultType="java.lang.Integer">
    select count(1) from data_tranaction t,data_job t1 where
    t.netno = t1.netno and t.siteno = t1.siteno and t.laneno = t1.laneno and t.jobbegin = t1.jobbegin
    <if test="todDate != '' and todDate != null">
      and to_char(t.toddate,'yyyy-MM-dd') = #{todDate}
    </if>
    <if test="shiftNo != null and shiftno != ''">
      and t1.shiftno = #{shiftNo}
    </if>
    <if test="netSiteNo != null and netSiteNo != ''">
      and t.netno||t.siteno = #{netSiteNo}
    </if>
  </select>

</mapper>