<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mydao.split.dao.SplitUserMapper" >
  <resultMap id="BaseResultMap" type="com.mydao.split.entity.SplitUser" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="USER_NAME" property="userName" jdbcType="VARCHAR" />
    <result column="PASS_WORD" property="passWord" jdbcType="VARCHAR" />
    <result column="USER_TYPE" property="userType" jdbcType="VARCHAR" />
    <result column="NET_SITE_NO" property="netSiteNo" jdbcType="VARCHAR" />
    <result column="nick_name" property="nickName" jdbcType="VARCHAR" />
    <result column="site_ip" property="siteIp" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, USER_NAME, PASS_WORD, USER_TYPE, NET_SITE_NO,nick_name,site_ip
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from SPLIT_USER
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from SPLIT_USER
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insertSelective" parameterType="com.mydao.split.entity.SplitUser" >
    insert into SPLIT_USER
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="userName != null" >
        USER_NAME,
      </if>
      <if test="passWord != null" >
        PASS_WORD,
      </if>
      <if test="userType != null" >
        USER_TYPE,
      </if>
      <if test="netSiteNo != null" >
        NET_SITE_NO,
      </if>
      <if test="nickName != null" >
        nick_name,
      </if>
      <if test="siteIp != null" >
        site_ip,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="passWord != null" >
        #{passWord,jdbcType=VARCHAR},
      </if>
      <if test="userType != null" >
        #{userType,jdbcType=VARCHAR},
      </if>
      <if test="netSiteNo != null" >
        #{netSiteNo,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null" >
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="siteIp != null" >
        #{siteIp,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mydao.split.entity.SplitUser" >
    update SPLIT_USER
    <set >
      <if test="userName != null" >
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="passWord != null" >
        PASS_WORD = #{passWord,jdbcType=VARCHAR},
      </if>
      <if test="userType != null" >
        USER_TYPE = #{userType,jdbcType=VARCHAR},
      </if>
      <if test="netSiteNo != null" >
        NET_SITE_NO = #{netSiteNo,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null" >
        nick_name = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="siteIp != null" >
        site_ip = #{siteIp,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>

  <select id="getByUserName" resultMap="BaseResultMap" parameterType="java.lang.String">
    select * from SPLIT_USER where USER_NAME = #{userName}
  </select>

  <select id="findList" parameterType="java.util.Map" resultMap="BaseResultMap">
    select xxx.* from (
      select xx.*,rownum as rn from (
        select x.* from split_user x where 1 = 1
        <if test="userName != null and userName != ''">
          and x.nick_name like '%'||#{nickName}||'%'
        </if>
        <if test="userType != null and userType != ''">
          and x.user_type = #{userType}
        </if>
        <if test="netSiteNo != null and netSiteNo != ''">
          and x.net_site_no = #{netSiteNo}
        </if>
      ) xx
    ) xxx where xxx.rn BETWEEN (#{page}-1)*#{limit}+1 and #{page}*#{limit}
  </select>
  <select id="count" parameterType="java.util.Map" resultType="java.lang.Integer">
    select count(1) from split_user x where 1 = 1
    <if test="userName != null and userName != ''">
      and x.nick_name like '%'||#{nickName}||'%'
    </if>
    <if test="userType != null and userType != ''">
      and x.user_type = #{userType}
    </if>
    <if test="netSiteNo != null and netSiteNo != ''">
      and x.net_site_no = #{netSiteNo}
    </if>
  </select>
</mapper>